.maindiv{
    width:  1000px;
    height: 1000px;
    margin:auto;
    background-color:grey;
    margin-top: -20px;
    
}
.social {
    margin-bottom: 20 px;
}
.footer {
    position: relative;
    margin: auto;
    bottom: 0;
    width: 1000px;
    background-color:grey;
    color:black;
    text-align: center;
}
.header {
    width:990px;
    height:85px;
}
.logo {
    float: left; 
    margin-top:-100px;
    width:100px; 
    height:100px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
   
  .menu li{
    float: left;
    position: relative;
    width: 135px;
    
  }
  .menu ul li ul{
    display: none;
    
  }
   
  .menu ul li:hover ul{
    display: block;
  }
  .menu ul li a{
    text-decoration: none;
    background: #445F6A;
    display: block;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
    border-left: 1px solid #595959;
    padding: 5px;
  }
   
  .menu ul li ul li a{
    background: #595959;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #333;
    font-size: .8em;
  }
   
  .menu li a:hover{
    background: rgb(248,140,0);
    transition: .5s;
  }
   
  .menu ul li ul li a:hover{
    padding-left: 15px;
    
  }
  .menu ul li ul{
    display: none;
  }
   
  .menu ul li:hover ul{
    display: block;
}

.menudiv{
  margin-left: 90px;
}
.baslik {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 43, 43);
    font-style: italic;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 210px;
}
.content{
    margin: auto;
    margin-top: 120px;
    position: relative;
    text-align: center;
    
}